
## <summary>policy for levantcoin</summary>


########################################
## <summary>
##	Transition to levantcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`levantcoin_domtrans',`
	gen_require(`
		type levantcoin_t, levantcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, levantcoin_exec_t, levantcoin_t)
')


########################################
## <summary>
##	Execute levantcoin server in the levantcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`levantcoin_initrc_domtrans',`
	gen_require(`
		type levantcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, levantcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search levantcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`levantcoin_search_lib',`
	gen_require(`
		type levantcoin_var_lib_t;
	')

	allow $1 levantcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read levantcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`levantcoin_read_lib_files',`
	gen_require(`
		type levantcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, levantcoin_var_lib_t, levantcoin_var_lib_t)
')

########################################
## <summary>
##	Manage levantcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`levantcoin_manage_lib_files',`
	gen_require(`
		type levantcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, levantcoin_var_lib_t, levantcoin_var_lib_t)
')

########################################
## <summary>
##	Manage levantcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`levantcoin_manage_lib_dirs',`
	gen_require(`
		type levantcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, levantcoin_var_lib_t, levantcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a levantcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`levantcoin_admin',`
	gen_require(`
		type levantcoin_t;
		type levantcoin_initrc_exec_t;
		type levantcoin_var_lib_t;
	')

	allow $1 levantcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, levantcoin_t)

	levantcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 levantcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, levantcoin_var_lib_t)

')

